.jumbotron {
    padding: 30px;
    margin-bottom: 30px;
}


.card {
    background-color: #f4f4f4;
    margin: 10px;

    

}

.team-area {
    display: flex;
    flex-wrap: wrap;
}

.team-area .col-4 {
    flex-grow: 1;
}



